.ArmyViewTroopEntryInfo{
    display: inline-block;
    width: 50%;
    height: auto;

    align-items: center;
    justify-content: center;
    text-align: right;
    vertical-align: top;
    padding-right: 9%;
}

.ArmyViewTroopEntry{
    width: 100%;
    height: auto;
    margin-top: 0.4vw;
}

