.TrainingQueueEntry{
    display: inline-block;
    width: 7vw;
    border: 0.1vw solid gold;
    border-radius: 0.5vw;
    padding: 0.2vw;
    margin: 0.1vw;
}

.TrainingQueueEntry img{
    width: 6vw;
    height: 8.5vw;
}

.TrainingQueueEntry div{
    font-size: 70%;
}

.TrainingQueueEntry div .QueueLabel{
    font-size: 90%;
    color: gray;
    display: inline;
    margin-right: 0.3vw;
}