.TrainingOptionEntry{
    display: inline-block;
    width: 4vw;
    height: 5vw;
    border: 0.1vw solid gold;
    margin: 0.2vw;
    padding: 0.3vw;
    border-radius: 0.2vw 0.2vw 0.2vw 0.2vw;
}

.TrainingOptionEntry img{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    user-select: none;
}

.TrainingOptionEntry:hover{
    transform: scale(110%);
}
