.TrainingOptionAdderWidget {
    display: inline-block;
    vertical-align: top;
    width: 51%;
    height: 45%;

    /*Support curve of background*/
    border-radius: 0 0 3vw 0;
}

.TroopAmountSlider {
    -webkit-appearance: none;
    background-color: #332f2f;
    width: 90%;
    margin-left: 5%;
    height: 1.5vw;
    display: block;
}

/*Support most browsers*/
.TroopAmountSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3vw;
    height: 3vw;
    background-color: gold;
    border-radius: 20%;
}

/*supports firefox*/
.TroopAmountSlider::-moz-range-thumb {
    width: 3vw;
    height: 3vw;
    background-color: gold;
    border-radius: 20%;
}

.TrainButton {
    padding: 0.5vw;
    font-size: 2.8vw;
    border-radius: 1vw 1vw 1vw 1vw;
    transform: scale(70%);
    border: 0.2vw solid gold;
}

.TrainButton:hover {
    --scaleIndex: 95%;
    transform: scale(var(--scaleIndex));
    z-index: 21;

}

.troop-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    row-gap: 1vw;
    column-gap: 3vw;
    justify-items: center;
    align-items: center;
    margin-bottom: 1.4vw;
    margin-left: 0.5vw;
}

.stat-entry {
    width: auto;
    height: auto;
    max-height: 2vw;
    max-width: 2vw;
}
