/* CityViewer.css */
.ag-theme-alpine-dark .ag-header-cell,
.ag-theme-alpine-dark .ag-header-group-cell{
    /* Replace primaryColor and secondaryColor with actual colors or add classes dynamically */
    background: linear-gradient(to top, black, #d20000) !important;
    font-size: 150%;
    color: #030303;
}

.ag-theme-alpine-dark .ag-row{
    font-size: 1vw;
    height: 3vw;
    line-height: 3vw;
    margin : auto;
    align-items: center;
}


/* CityViewer.css */
.darken_background {
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.selected-image {
    max-width: 500%;
    max-height: 500%;
    object-fit: contain;
    width: 70%;
    height: 70%;
    margin: auto;
}

.buildings_grid {
    display: inline-block;
    width: 50%;
    height: 27vw;
    overflow: scroll;
    /*background: transparent;  => add if nescessary*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2vw 0 0 0.2vw;
}


.building_view{
    display: flex;
    width: 90vw;
    height: 30vw;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(139,0,0,0.5));
    border-radius: 3vw;
}

.building_image{
    width: 25vw;
    height: 20vw;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.tabs button {
    background: linear-gradient(to top, black, #d20000);
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5vw 1vw;
    width: 100%;
    margin: 0.2vw 0;
    font-size: 1vw;
    border-radius: 0.2vw;
    transition: background 0.3s ease;
}

.tabs button:hover {
    background: linear-gradient(to top, #d20000, black);
}

.right-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(10%) translateX(-12%);

}

