/* CityViewer.css */
.ag-theme-alpine-dark .ag-header,
.ag-theme-alpine-dark .ag-header-cell,
.ag-theme-alpine-dark .ag-header-group-cell {
    /* Replace primaryColor and secondaryColor with actual colors or add classes dynamically */

    background: linear-gradient(to top, var(--primaryColor), var(--secundaryColor)) !important;
    font-size: 1.2vw;
}

.ag-theme-alpine-dark .ag-row {
    font-size: 1vw;
    height: 3vw;
    line-height: 3vw;
    margin: auto;
    align-items: center;
}


/* CityViewer.css */
.darken_background {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.selected-image {
    max-width: 500%;
    max-height: 500%;
    object-fit: contain;
    width: 70%;
    height: 70%;
    margin: auto;
}

.buildings_grid {
    display: inline-block;
    width: 50%;
    height: 27vw;
    overflow: scroll;
    /*background: transparent;  => add if nescessary*/
    margin: auto;
    border-radius: 0.2vw 0 0 0.2vw;
}


.building_view {
    display: flex;
    width: 90vw;
    height: 30vw;

    background: linear-gradient(to top, color-mix(in srgb, var(--primaryColor), transparent 50%),
    color-mix(in srgb, var(--secundaryColor), transparent 50%));
    border-radius: 3vw;
}

.building_image {
    width: 25vw;
    height: 20vw;
    position: relative;
    display: inline-block;
    margin: auto;
    justify-content: center;
}

.city_info_grid {
    display: inline-block;
    width: 40%;
    height: 40%;
    border-radius: 0.2vw 0 0 0.2vw;
    transform: translateY(60%) translateX(10%);
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.tabs button {
    background: linear-gradient(to top, var(--primaryColor), var(--secundaryColor));
    color: var(--textColor);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5vw 1vw;
    width: 100%;
    margin: 0.2vw 0;
    font-size: 1vw;
    border-radius: 0.2vw;
    transition: background 0.3s ease;
}

.tabs button:hover {
    background: linear-gradient(to top, var(--secundaryColor), var(--primaryColor));
}

.right-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-12%);
}

.right-screen-city-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right-screen table {
    width: 100%;
    border-collapse: collapse;
    transform: translateY(-25%);
}

.right-screen th, .right-screen td {
    border: 0.1vw solid var(--secundaryColor);
    padding: 0.1vw 0.5vw 0vw 0.5vw;
    text-align: left;
}

.right-screen th {
    background-color: transparent;
}

.building-stats {
    align-items: center;
    max-width: 2.5vw;
    max-height: 2.5vw;
    width: auto;
    height: auto;
    display: inline-flex;
}

.city_info_container {
    display: flex;
    flex-direction: column;
}