/* CityViewer.css */
.ag-theme-alpine-dark .ag-header-cell,
.ag-theme-alpine-dark .ag-header-group-cell {
    /* Replace primaryColor and secondaryColor with actual colors or add classes dynamically */
    background: linear-gradient(to top, black, black) !important;
    color: black;
}

/* CityViewer.css */
.flex-container {
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}


.ag-grid-container {
    width: 600px;
    height: 600px;
}

.selected-image {
    max-width: 500%;
    max-height: 500%;
    object-fit: contain; /* This ensures the image maintains its aspect ratio */
}
