@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "fog-sans";
    src: url(../public/fonts/fog-sans/FogSans-Re46.otf);
    font-weight: normal;
}

* {
    font-family: "fog-sans";
}

