.SettingsMenu{
    width: 80vw;
    height: 35vw;
    background-image: inherit;
    display: inline-block;
    position: fixed;
    left: 10vw;
    top: 10vw;
    border-radius: 2vw 2vw 2vw 2vw;
}


/*This override the SketchPicker, so we do not have ugly text input for colors displayed*/
.flexbox-fix:nth-of-type(3) {

   display: none !important;

}

.ColorSelector{
    margin-left: 2vw;
    margin-right: 2vw;
    display: inline-block;
}

.SettingsMenu div button{
    border-radius: 1vw 1vw 1vw;
    padding: 0.5vw;
    font-size: 1.5vw;
    border: 0.2vw solid var(--tertiaryColor);
}

.SettingsMenu div button:hover{
    transform: scale(110%);
}