.SendMessageTab{
    display : flex;
    flex-direction : row;
}
.SendMessageTab textarea{
    height: 4.95vw;
    border-radius: 0 0 0 1.8vw;
    resize: none;
}

.SendMessageTab button{
    height: 4.95vw;
    border-radius: 0 0 0 1.8vw;
    font-size: 220%;
    margin-left: auto;
    margin-right: auto;
}

.SendMessageTab button:hover{
    transform: scale(110%);

}