.build-button {
    background: linear-gradient(to top, var(--primaryColor), var(--secundaryColor));
    color: var(--textColor);
    border: none;
    cursor: pointer;
    padding: 0.5vw 0.5vh;
    border-radius: 1vh;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80%; /* Take % height of the cell */
    transform: translateY(30%);
}


.build-button:hover {
    background: linear-gradient(to top, var(--secundaryColor), var(--primaryColor));
}

.build-button.disabled {
    background: linear-gradient(to top, #555, #888);
    cursor: not-allowed;
}

.build-button.disabled:hover {
    background: linear-gradient(to top, #555, #888);
}

.wide-button {
    background: linear-gradient(to top, var(--primaryColor), var(--secundaryColor));
    color: var(--textColor);
    cursor: pointer;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    top: 5%;
    transform: translateY(-150%);
}

.wide-button.disabled {
    background: linear-gradient(to top, #555, #888);
    color: var(--textColor);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    top: 5%;
    cursor: not-allowed;
}

.wide-button.disabled:hover {
    background: linear-gradient(to top, #555, #888);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    top: 5%;
}

.resource-details table {
    width: 100%;
    border-collapse: collapse;
}

.resource-details th, .resource-details td {
    border: 1px solid var(--secundaryColor);
    padding: 8px;
    text-align: left;
}

.resource-details th {
    background-color: transparent;
}

.FontSizer *{
    font-size: 1.4vw;
    text-align: center;
    color: var(--tertiaryColor);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10%;
    top: 5%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-250%);
}

.instruction-text {
    margin-bottom: 0.2vw;
    font-size: 1.4vw;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.half-button {
    background: linear-gradient(to top, black, #d20000);
    color: white;
    cursor: pointer;
    border-radius: 1vh;
    width: 10vw;
    height: 4vw;
    font-size: 1.9vw;
    flex: 1;
    margin: 0.4vw;
}
